.user__info {
  display: none;
  flex-direction: column;
  flex-grow: 0;
  max-width: 400px;
}

.signin__form {
  display: none;
  flex-direction: column;
  flex-grow: 0;
  max-width: 400px;
}

.otp__form {
  display: none;
  flex-direction: column;
  flex-grow: 0;
  max-width: 400px;
}

.signin__form > * {
  margin-bottom: 8px;
}

.otp__form > * {
  margin-bottom: 8px;
}

.email {
  margin-block-start: 0;
}

.name {
  margin: 0;
}

.signout__button {
  height: 2.5rem;
  width: 140px;
  border-radius: 6px;
  border: 1px solid grey;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: white;
  line-height: 24px;
  color: black;
  cursor: pointer;
}

.signout__button:hover {
  background-color: rgb(246, 246, 246);
}

.signin__with__oauth:hover {
  background-color: rgb(246, 246, 246);
}

.signin__form > button {
  height: 2.5rem;
  border-radius: 6px;
  border: 1px solid grey;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

.signin__with__email {
  background-color: rgb(61, 101, 181);
  line-height: 24px;
  color: white;
}

.submit__flights {
  height: 2.5rem;
  border-radius: 6px;
  border: 1px solid grey;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  background-color: rgb(61, 101, 181);
  color: white;
  padding-inline: 1.5rem;
  margin-top: 0.5rem;
}

.submit__flights:hover {
  background-color: rgb(46, 86, 166);
}

.submit__flights:disabled {
  background-color: rgb(61, 101, 181);
  cursor: not-allowed;
}

.otp__validate {
  height: 2.5rem;
  border-radius: 6px;
  border: 1px solid grey;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: rgb(61, 101, 181);
  color: white;
  cursor: pointer;
}

.otp__validate:hover {
  background-color: rgb(46, 86, 166);
}

.signin__with__email:hover {
  background-color: rgb(46, 86, 166);
}

.signin__with__oauth {
  background-color: white;
  line-height: 24px;
  color: black;
}

.signin__with__email > svg {
  float: left;
}

.signin__with__oauth > svg {
  float: left;
}

.otp__input {
  height: 2rem;
  padding-left: 8px;
  background-color: rgb(246, 246, 246);
  border: 1.5px solid grey;
  border-radius: 6px;
  outline: none;
}

.otp__input:focus {
  border: 1.5px solid rgb(61, 101, 181);
}

.return__login {
  margin: auto;
  font-size: 0.9rem;
  cursor: pointer;
}

input[type="email"] {
  height: 2rem;
  padding-left: 8px;
  background-color: rgb(246, 246, 246);
  border: 1.5px solid grey;
  border-radius: 6px;
  outline: none;
}

input[type="email"]:focus {
  border: 1.5px solid rgb(61, 101, 181);
}

.auth__loader {
  margin: auto;
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid black; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
